<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='build/roslib.js') }}"></script>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="screen">
  <title>Turtlesim Drawer</title>
</head>

<body>
  <div class="left">
    <canvas id="turtleFollower" width="600" height="600">
    </canvas>
  </div>
  <div class="right">
    <h3>Turtlesim Drawer</h3>
    <div class="figureSelect">
      <span>Figure</span>
      <select id="shapeSelect">
        <option value="star" selected>Star</option>
        <option value="square">Square</option>
        <option value="triangle">Triangle</option>
      </select>
    </div>
    <button id="startStopButton" type="button">Start</button>
    <button id="pauseContinueButton" type="button">Pause</button>
    <script src="{{ url_for('static', filename='js/drawer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ros.js') }}"></script>
  </div>
</body>
</html>
